body { 
       /* font-size:62.5%; */
 }
header { position:relative; }


nav#primary-nav ul li { display:inline;list-style-type:none;float:left;margin-right:1em;background-color: #aed673; color: black; font-family: georgia, serif;padding:0.5em;  }
footer { 
         position:absolute;
         width:100%;
         bottom:0px;
         background-color:blue;
         color:yellow;
         text-align:center;
}

#function-links { height:100px;width:400px;background-color:#aed673;font-family: georgia, serif;float:right;content:'.';color:black;}


#content{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f5fcf1;
}

#hours{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f5fcf1;
}

#directions{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f5fcf1;
}

#google-map{
         background-color: #0b6110b;
}

#address{
}


#contact{
	font-family: Helvetica, Arial, sans-serif;
}

