html, body { 
             height:100%; 
}

#non-footer { 
              min-height: 100%;
}

body { 
       margin:0;
       padding:0;
       font-size:62.5%;
       background: #F0FFF0;
       font-family: Helvetica, Arial, sans-serif;
 }

header {
         margin:0 auto;
         margin-bottom:0;
         font-family: Georgia, serif;
         position:relative;
         display:block;
         clear:both;
      	 background-color: #90B890;
      	 color:#086108;
         background-image: url("logoimage.png");
         background-position: left top;
         background-repeat: no-repeat;
         min-height: 130px;
         padding-bottom: 1em;
         width: 96%;
         border-bottom-right-radius: 7px;
         -moz-border-radius-bottomright: 7px;
         -webkit-bottom-right-radius:7px;
 }


header h1#site-title { 
                       padding-left: 140px;
                       font-size: 5em;
                       color:#450b00;
 }
header h2#site-subtitle { 
                          display:inline;
                          padding-left:140px;
                          font-size:2em;
                          color:#6E0000;
                          }

nav#primary-nav {
                  width:96%;
                  margin:0 auto;
                  margin-bottom: 1em;
}

nav#primary-nav ul li { 
display: inline-block;
margin-right:0em;
background-color: #006600;
color:#CCCC99; 
font-family: Georgia, serif;
padding-top:0.2em;
padding-left:0.6em;
padding-right:0.6em;
padding-bottom:0.3em;
margin-top:0;
margin-bottom:0.1em;
font-size: 1.8em;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius:5px; 
-webkit-border-bottom-right-radius:5px; 
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

 }
nav#primary-nav ul li:hover { 
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius:0px; 
-webkit-border-bottom-right-radius:0px; 
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:0px;
  }
nav#primary-nav ul li.current { 
                                color: #006600;
                                background-color:#CCCC99; 

 }

nav#primary-nav ul li ul { display:none; }
nav#primary-nav li:hover ul { display:block;
                              position:absolute;
                              margin-left:-0.6em;
                              margin-top:0.4em;
                              padding:0;
                              background: #F0FFF0;
                              z-index: 9001;
                             }
nav#primary-nav li:hover ul li { font-size: 1em;
                                 display:block;
                                 border-bottom-left-radius: 0px;
                                 border-bottom-right-radius: 0px;
                                 webkit-border-bottom-left-radius:0px; 
                                 webkit-border-bottom-right-radius:0px; 
                                 moz-border-radius-bottomleft:0px;
                                 moz-border-radius-bottomright:0px;
                                 }
nav#primary-nav li:hover ul li:last-child { 
                                      border-bottom-left-radius: 5px;
                                      border-bottom-right-radius: 5px;
                                      webkit-border-bottom-left-radius:5px; 
                                      webkit-border-bottom-right-radius:5px; 
                                      moz-border-radius-bottomleft:5px;
                                      moz-border-radius-bottomright:5px;

                                      }

section h2 { 
             margin-bottom: 0.2em;
             color:#6E0000;
             font-size:1.5em;
}

section h3 { 
             font-size:1em;
             margin-bottom: 0.3em;
 }

footer { 
         width:96%;
         margin:0 auto;
         padding:0;
         background-color:#90B890;
         text-align:center;
         font-family: Georgia, serif;
         clear:both;
         position:relative;
         padding-top:1.5em;
         height: 6.5em;
         margin-top: -8em;
         border-top-right-radius: 7px;
         border-top-left-radius: 7px;
         -webkit-border-top-left-radius:7px; 
         -webkit-border-top-right-radius:7px; 
         -moz-border-radius-topleft:7px;
         -moz-border-radius-topright:7px;

}

footer p { 
font-size:1.6em;
 }

#function-links { 
                  font-family: Georgia, serif;
                  color:black; 
                  font-size: 1.2em;
                  list-style-type:none;
                  display:block;
                  padding-bottom:3em;
    }
#function-links li { display:inline;
                     float:right;
                     background-color:#90B890;
                     margin-right:1em;

 }


#content{
        position:relative;
        clear:both;
        padding-bottom:8em;
}

#content:after { 
                 content: '.';
                 display:none;
                 clear:both;
 }

section p { 
            line-height:1.3em;
            margin-bottom:1em;
 }

#hours{
        width:25%;
        margin-left:5%;
        font-size:1.6em;
        float:left;
}

#hours ul { 
              margin-bottom:1em; }
#hours ul li { 
               margin-bottom:0.3em;
               line-height:1.3em;
 }

#directions{
             float:left;
             font-size:1.6em;
             margin-left:2%;
             width:33%;
             background-color:  #F0FFF0;
}

#directions form { margin-bottom:1em; }

#contact{
          font-size: 1.6em;
          background-color:  #F0FFF0;
          width: 25%;
          float:right;
          margin-right:5%;
}


#contact ul li { 
                 margin-bottom:1.3em;
                 line-height: 1.3em;
 }

a:link {
    
    outline: none;
    /* color: #996633; */
    
}
a:visited {
    outline: none;
    outline-style:none;
    /* color: #6e0000; */
  
}
a:hover {
   outline: none;
/*    color: #086108; */
  }

iframe { 
                     width:98%;
                     margin-left:1%;
                     margin-top:0.3em;
                     margin-bottom:1em;}