/***********************
 * Generic Page Styles *
 ***********************/

html, body { 
             height:100%; 
}

#non-footer { 
              min-height: 100%;
}

body { 
       margin:0;
       padding:0;
       font-size:62.5%;
       background: white;
       font-family: Helvetica, Arial, sans-serif;
       min-width: 640px;
}

#function-links { height:1.5em;
                  margin-right:2%; 
}

#function-links ul { 
                  font-family: Georgia, serif;
                  font-size: 1.5em;
                  list-style-type:none;
                  display:block;
                  float:right;
                  padding-top:0.2em;
                  padding-bottom: 0.2em;

}

#function-links ul li{ display:inline;
                        margin-right:1em;
}

#function-links ul li a { 
                          color: green;
                          text-decoration: none;
                          outline:none;
 }

header {
         margin:0 auto;
         margin-bottom:0;
         font-family: Georgia, serif;
         position:relative;
         display:block;
         clear:both;
      	 background-color: maroon;
      	 color:white;
         background-image: url("logoimage.png");
         background-position: left top;
         background-repeat: no-repeat;
         padding-bottom: 2em;
         padding-top:1em;
         width: 96%;
         border-radius: 7px;
         -moz-border-radius: 7px;
         -webkit-border-radius: 7px;
         border-bottom-left-radius: 0px;
         -moz-border-radius-bottomleft: 0px;
         -webkit-bottom-left-radius:0px;
}

header h1#site-title { 
                       padding-left: 150px;
                       font-size: 5em;
}

header a { 
           text-decoration: none;
           color:white;
           display:block;
 }

header h2#site-subtitle { 
                          display:inline;
                          padding-left:150px;
                          font-size:2em;
                          
}

nav#primary-nav {
                  width:96%;
                  margin:0 auto;
                  margin-bottom: 1em;
}

nav#primary-nav a { text-decoration:none;
                    display:block;}

nav#primary-nav ul li { 
                        font-family: Georgia, serif;
                        display:inline-block;
                        margin-right:0.1em;
                        background-color: #f6d674;
                        padding-top:0.2em;
                        padding-left:0.6em;
                        padding-right:0.6em;
                        padding-bottom:0.3em;
                        margin-top:0;
                        font-size: 1.8em;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        -webkit-border-bottom-left-radius:5px; 
                        -webkit-border-bottom-right-radius:5px; 
                        -moz-border-radius-bottomleft:5px;
                        -moz-border-radius-bottomright:5px;
}

nav#primary-nav ul li a { 
                        color:black; 
 }



nav#primary-nav ul li:hover { 
                              border-bottom-left-radius: 0px;
                              border-bottom-right-radius: 0px;
                              -webkit-border-bottom-left-radius:0px; 
                              -webkit-border-bottom-right-radius:0px; 
                              -moz-border-radius-bottomleft:0px;
                              -moz-border-radius-bottomright:0px;
}

nav#primary-nav ul li.current {                     
                                background-color:maroon; 
}

nav#primary-nav ul li.current { 
                                  color: white;
                                  }

nav#primary-nav ul li ul { display:none;
                           border-radius: 5px;
                           -moz-border-radius: 5px;
                           -webkit-border-radius:5px;}
nav#primary-nav li:hover ul { display:block;
                              position:absolute;
                              margin-left:-0.6em;
                              margin-top:0.3em;
                              padding:0;
                              background: white;
                              z-index: 9001;
                             }
nav#primary-nav li:hover ul li { 
                                 padding:0;
                                 font-size: 1em;
                                 display:block;
                                 border-top: dashed 1px gray;
                                 border-bottom-left-radius: 0px;
                                 border-bottom-right-radius: 0px;
                                 -webkit-border-bottom-left-radius:0px; 
                                 -webkit-border-bottom-right-radius:0px; 
                                 -moz-border-radius-bottomleft:0px;
                                 -moz-border-radius-bottomright:0px;
                                 }

nav#primary-nav li:hover ul li a { padding: 0.5em; }

nav#primary-nav li:hover ul li:hover { background-color: #DAA520;}

nav#primary-nav li:hover ul li.current a { color:white;}

nav#primary-nav li:hover ul li:first-child { 
                                             border-top-right-radius: 5px;
                                             -webkit-border-top-right-radius:5px;
                                             -moz-border-radius-topright:5px;
                                             border-top:1px solid white;
                                            
}
nav#primary-nav li:hover ul li:last-child { 
                                            border-bottom-left-radius: 5px;
                                            border-bottom-right-radius: 5px;
                                            webkit-border-bottom-left-radius:5px; 
                                            webkit-border-bottom-right-radius:5px; 
                                            moz-border-radius-bottomleft:5px;
                                            moz-border-radius-bottomright:5px;
}


#content{
          position:relative;
          clear:both;
          padding-bottom:8em;
}

#content:after { 
                 content: '.';
                 display:none;
                 clear:both;
 }

section {         
          font-size:1.4em;
          padding-bottom: 1em;
          padding-top:0.5em;
}

section h2 { 
             margin-bottom: 0.2em;
             color:#6E0000;
             font-size:1.5em;
}

section h3 { 
             font-size:1em;
             margin-bottom: 0.5em;
             margin-top:0.5em;
}

section p { 
            line-height:1.3em;
            margin-bottom:1em;
 }

footer { 
         width:96%;
         margin:0 auto;
         padding:0;
         background-color:maroon;
         color:white;
         text-align:center;
         font-family: Georgia, serif;
         clear:both;
         position:relative;
         height: 7.5em;
         margin-top: -8em;
         margin-bottom: 0.5em;
         border-radius: 7px;
         -webkit-border-radius:7px; 
         -moz-border-radius:7px;
}

footer p, footer address { 
           font-size:1.6em;
           padding-top:0.8em;
 }


/**************************************
 * Styles for: Home Page -> index.php *
 **************************************/

#picture-view { 
                margin-left:5%;
                background-color: #F1EDC2;
                width: 40%;
                max-width:36em;
                float:left;
                margin-bottom:1em;
}

#picture-view h2 {
                   text-align:center;
 }
#pane { 
        max-width: 36em;
        text-align:center;
        padding-left:0.5em;
        padding-right:0.5em;
}
#pane img { 
            max-width: 100%;
            vertical-align: middle;

 }

#pane p { 
          margin-top:0.5em;
 }
#pane ul { 
           display:block;
           text-align:left;
 }
#pane ul li { 
              display:inline;
              margin:0;
              
 } 
#pane ul li button{

                    margin-left: 1em;
               display:inline-block;
               padding-left: 1em;
               padding-right: 1em;
               padding-top:0.5em;
               padding-bottom: 0.5em;
               background-color:#bbb;
               border: 1px solid black;
 }


#pane ul li button:active{
                           background-color:#444;
                    }

#intro-text { 
              margin-right:5%;
              margin-left:5%;
              width: 45%;
              float:right;
}

#sitemap { 
           margin-right:5%;
           margin-left:5%;
           float:right;
           width: 45%;
           margin-top: 1em;
 }

#sitemap div.category { 
                        display:block;
                        float:left;
                        margin: 1em;
                        min-height:8em;
                       }

#sitemap ul li { 
                 margin-bottom:0.2em;
 }

#sitemap ul li a { 
                   text-decoration:none;
                   color:blue;
}

@media screen and (max-width:960px) { 
  #sitemap { 
             width:90%;
             float:none;
             margin-right:5%;
             margin-left:5%;
             clear:both;
}

 }

/**********************************************************
 * Styles for: Hours/Directions/Contact Us -> contact.php *
 **********************************************************/

#hours{
        width:25%;
        margin-left:5%;
        float:left;
}

#hours ul { 
              margin-bottom:1em; 
}
#hours ul li { 
               margin-bottom:0.3em;
               line-height:1.3em;
 }

#directions{
             float:left;
             margin-left:2%;
             width:33%;
             background-color: white;
}

#directions form { 
                   margin-bottom:1em; 
}

#contact{
          width: 25%;
          float:right;
          margin-right:5%;
}


#contact ul li { 
                 margin-bottom:1.3em;
                 line-height: 1.3em;
 }


iframe#googlemap { 
                     width:98%;
                     margin-left:1%;
                     margin-top:0.3em;
                     margin-bottom:1em;
}

/****************************************
 * Styles for: Calendar -> calendar.php *
 ****************************************/

#upcoming-events {
    float:left;
    margin-left: 5%;
    margin-right: 2%;
    width: 25%;
    min-height: 400px;
}

#upcoming-events h2 {
    margin-bottom: 0.5em;
}
#calendar {
    float:right;
    margin-right:5%;
    width:63%;
    }



iframe#googlecal { 
    width:98%;
    margin-left:1%;
    margin-top:0.3em;
    margin-bottom:1em;
}

/************************
 * People -> people.php *
 ************************/

#staff { 
         float: left;
         margin-left: 5%;
         width: 43%;
         overflow:hidden;
 }

#staff ul li h3, #board ul li h3 { 
                  margin-top:1em;
 }

#staff ul li ul, #board ul li ul { 
                  margin-left: 6%;
 }

#staff ul li ul li, #board ul li ul li { 
                  margin-bottom: 0.2em;
}

#board { float:right;
         margin-right:5%;
         width: 43%;
}

/*********************************
 * Spread Across Jocelyn's Pages *
 *********************************/

.featured-image { 
max-width:100%;
border:0.2em solid black;
margin-right: 1em;
margin-bottom: 1em;
height:auto;
}

 
/*****************************************************
 * Styles for: Friends of the Library -> friends.php *
 *****************************************************/

#membership{
        width:23%;
        margin-left:5%;
	padding-left:1%;
	padding-right:1%;
        float:left;
}

#membership ul { 
              margin-bottom:1em; 
              margin-left: 5%;
}
#membership ul li { 
               margin-bottom:0.3em;
               line-height:1.3em;
               display:block;
               clear:both;
 }
#membership ul li img { 
                        float:left;
                        width: 6em;
                        height:auto;
 }

#announcement {
             float:left;
             margin-left:3%;
             width:39%;
             background-color: white;
}

#announcement p { 
                  line-height: 150%;
}

#officers{
          width: 20%;
          float:right;
          margin-right:5%;
          line-height:130%;
          color:#555555 ;
}


#officers ul li { 
                 margin-bottom: 0.2em;
                 line-height: 1.3em;
 }


/************************************************
 * Community Artshare -> community_artshare.php *
 ************************************************/


section#beyondbooks img{
                margin-left:7%; 

}


#exhibits{  width:22%;
        float:left;
	 margin-left:5%;
	 margin-right:3%;
         line-height:130%;
	 padding-left:1%;
	 padding-right:1%;
 }


#beyondbooks{  width:42%;
	float:left;
       line-height:170%;
}



#artpictures{ width:18% ;
              float:right;
	      margin-right:5%;
	      color:#555555 ;
}



section#beyondbooks ul{
    margin-left: .7em;
    list-style-type:circle;
}

/******************************************
 * Author Readings -> author_readings.php *
 ******************************************/



section#contactforevent li{  line-height:130%;
                        
    
}


section#wordsworthhearing blockquote{ 
                                      color:#555555 ;
                                      font-style:oblique;
                                      line-height:200%;
}


#contactforevent{ 
                  width:25% ;
                  float:right;
                  margin-left:2%;
                  margin-right:3%;
}



#wordsworthhearing{  
                    width:60%;
                    float:left;
                    line-height:170%;  
                    margin-left:3%;
                    margin-right:2%;
                    padding-left: 2%;
                    padding-right: 2%;
}

/**********************************************
 * Styles for: Library History -> history.php *
 **********************************************/

ul#timelinelinks { 
                   display:block;
                   padding-top:1em;
 }

 ul#timelinelinks li {
                       display:inline-block;
                       margin-right:2em;
                       line-height: 1em;
                       font-size: 1em;
 }

#timeline { float: left;
            margin-left: 5%;
            margin-right:2%;
            padding-left: 1%;
            padding-right:1%;
            width:60%;}

#timeline h3 { text-decoration:none;
					font-size: 1.2em;
					color:#6E0000;
					padding-top:.75em;
					padding-bottom:.5em;}
					
#timeline h4 { padding-bottom:.25em;}

#timeline div {
			padding-top:.75%;
}

#images {
			float:right;
			margin-right:5%;
			width:25%;
}

/**********************************************************
 * Styles for: Library Card -> get_a_card.php *
 **********************************************************/


#librarycard { 
       margin-left:5%;
       margin-right:2%;
       padding-top:0;
       width: 60%;
       float:left;
}

#card_images { 
               float: right;
               margin-right:5%;
               width: 25%;
 }
#card_images p {
		 font-size:1em;
}		
		
		
/**********************************************************
 * Styles for: Senior Services -> senior_services.php *
 **********************************************************/
 
#seniors { 
       margin-left:5%;
       margin-right:5%;
       padding-top:0;
       font-size:1.25em;
       background: white;
       font-family: Helvetica, Arial, sans-serif;
}
       
 ul#computercoaching li {
		margin-left:3%;
		margin-bottom:0.7em;
}

ul.seniorlinks h3 {
		margin-top:2%;
}

ul.seniorlinks li {
                     margin-bottom:0.3em;
                     line-height:1.3em;
}
